.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.search-button:hover{
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 5.0 , 0.0 , 0.0 ,5.0);
}



.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 3.0 , 0.0 , 0.0 ,3.0);
}
.shadow:hover{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.productDetails-card{
    -fx-background-color: #6c82a6;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: rgb(70,175,98);
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #da529f;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #21a11c;
    -fx-background-radius: 30;
}

.product-anchor{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}
#btnSecureBuy:hover{
	-fx-padding: 7px 7px 7px 7px;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
#btnBackToProduct{
	-fx-background-color:white;
}

#btnBackToProduct:hover{
	-fx-padding: 5px 5px 5px 5px;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 2.0 , 0.0 , 0.0 ,2.0);
}

#anchorBuy{
	-fx-background-color:white;
}

.input-text{
	-fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.buy-btn{
    -fx-background-color: #F16C31;
    -fx-background-radius: 100;
}

.buy-btn:hover{
    -fx-padding: 15px 15px 15px 15px;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
}


/* Profile */
.primary-color{
	-fx-background-color: #13123A;
	
}
.secondary-color{
	-fx-background-color: #00002C;
}


.profile-menu-select:hover{
	-fx-background-color: #3C3D5B;
	}



.profile-btnSaveChanges{
	-fx-background-color:  #242551;
	-fx-background-radius:10;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
}

.profile-btnSaveChanges:hover{
	-fx-background-color: green;
}

.profile-btnPassword{
	
	-fx-background-color:  green;
	-fx-background-radius:10;
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
	
}

.profile-btnPassword:hover{
-fx-padding: 17px 17px 17px 17px;	
}


.txt-login{
	
	-fx-border-color:#00002C;
	-fx-border-width: 0 0 1 0;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
	}



.btn-login{
	-fx-background-color: #13123A;
	
}


.btn-login:hover{
	  -fx-padding: 12px 12px 12px 12px;
	  -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
}

.link:hover{
	-fx-font-size:15;
}

.txt-register{
	
	-fx-border-color:green;
	-fx-border-width: 0 0 1 0;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
	}




.btn-register{
	-fx-background-color: green;
	
}


.btn-register:hover{
	  -fx-padding: 12px 12px 12px 12px;
	  -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.15), 10.0 , 0.0 , 0.0 ,15.0);
}


.btnBackToShop{
	-fx-background-color: #13123A;
}

.btnBackToShop:hover{
	-fx-padding: 5px 5px 5px 5px;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 2.0 , 0.0 , 0.0 ,2.0);
}


.getShop:hover{
	-fx-padding: 1px 1px 1px 1px;
}

